CREATE TRIGGER licenses_billingcycle_set_updated_at_bu BEFORE UPDATE ON licenses_billingcycle FOR EACH ROW EXECUTE FUNCTION set_row_updated_at();
CREATE TRIGGER licenses_module_set_updated_at_bu BEFORE UPDATE ON licenses_module FOR EACH ROW EXECUTE FUNCTION set_row_updated_at();
CREATE TRIGGER licenses_plan_set_updated_at_bu BEFORE UPDATE ON licenses_plan FOR EACH ROW EXECUTE FUNCTION set_row_updated_at();
CREATE TRIGGER licenses_plan_price_set_updated_at_bu BEFORE UPDATE ON licenses_plan_price FOR EACH ROW EXECUTE FUNCTION set_row_updated_at();
CREATE TRIGGER licenses_sellable_set_updated_at_bu BEFORE UPDATE ON licenses_sellable FOR EACH ROW EXECUTE FUNCTION set_row_updated_at();
CREATE TRIGGER licenses_sellable_validate_biu BEFORE INSERT OR UPDATE ON licenses_sellable FOR EACH ROW EXECUTE FUNCTION licenses_sellable_validate();
CREATE TRIGGER licenses_sellable_dependency_validate_biu BEFORE INSERT OR UPDATE ON licenses_sellable_dependency FOR EACH ROW EXECUTE FUNCTION licenses_sellable_dependency_validate();
CREATE TRIGGER licenses_sellable_price_set_updated_at_bu BEFORE UPDATE ON licenses_sellable_price FOR EACH ROW EXECUTE FUNCTION set_row_updated_at();
CREATE TRIGGER licenses_subscription_set_updated_at_bu BEFORE UPDATE ON licenses_subscription FOR EACH ROW EXECUTE FUNCTION set_row_updated_at();
CREATE TRIGGER licenses_subscription_set_window_bi BEFORE INSERT ON licenses_subscription FOR EACH ROW EXECUTE FUNCTION licenses_subscription_set_window();
