CREATE OR REPLACE FUNCTION public.licenses_calculate_build_plan_amount(p_sellable_ids bigint[], p_billing_cycle_id bigint)
 RETURNS numeric
 LANGUAGE plpgsql
AS $function$
DECLARE
    v_total NUMERIC(14,2);
BEGIN
    IF p_sellable_ids IS NULL OR array_length(p_sellable_ids, 1) IS NULL THEN
        RETURN 0;
    END IF;

    SELECT COALESCE(SUM(sp.price_amount), 0)
      INTO v_total
      FROM public.licenses_sellable_price sp
     WHERE sp.sellable_id = ANY(p_sellable_ids)
       AND sp.billing_cycle_id = p_billing_cycle_id
       AND sp.is_active = TRUE;

    RETURN v_total;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.licenses_refresh_subscription_status(p_organization_id bigint DEFAULT NULL::bigint)
 RETURNS void
 LANGUAGE plpgsql
AS $function$
BEGIN
    UPDATE public.licenses_subscription s
    SET status = CASE
        WHEN s.status = 'cancelled' THEN 'cancelled'
        WHEN NOW() < s.starts_at THEN 'scheduled'
        WHEN NOW() BETWEEN s.starts_at AND s.ends_at THEN 'active'
        ELSE 'expired'
    END
    WHERE p_organization_id IS NULL OR s.organization_id = p_organization_id;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.licenses_sellable_dependency_validate()
 RETURNS trigger
 LANGUAGE plpgsql
AS $function$
DECLARE
    v_kind VARCHAR(20);
BEGIN
    SELECT sellable_type INTO v_kind FROM public.licenses_sellable WHERE id = NEW.required_sellable_id;
    IF v_kind = 'addon' THEN
        RAISE EXCEPTION 'Prerequisite cannot be addon. Use module/module_part as prerequisite.';
    END IF;
    RETURN NEW;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.licenses_sellable_validate()
 RETURNS trigger
 LANGUAGE plpgsql
AS $function$
DECLARE
    v_parent_type VARCHAR(20);
    v_parent_module_id BIGINT;
BEGIN
    IF NEW.sellable_type = 'module' THEN
        IF NEW.module_id IS NULL THEN
            RAISE EXCEPTION 'Module sellable must have module_id';
        END IF;
        IF NEW.parent_sellable_id IS NOT NULL THEN
            RAISE EXCEPTION 'Module sellable cannot have parent_sellable_id';
        END IF;
    ELSIF NEW.sellable_type = 'module_part' THEN
        IF NEW.module_id IS NULL THEN
            RAISE EXCEPTION 'Module part sellable must have module_id';
        END IF;
        IF NEW.parent_sellable_id IS NOT NULL THEN
            SELECT sellable_type, module_id
              INTO v_parent_type, v_parent_module_id
              FROM public.licenses_sellable
             WHERE id = NEW.parent_sellable_id;
            IF v_parent_type <> 'module' THEN
                RAISE EXCEPTION 'Module part parent must be a module sellable';
            END IF;
            IF v_parent_module_id <> NEW.module_id THEN
                RAISE EXCEPTION 'Module part parent module mismatch';
            END IF;
        END IF;
    ELSIF NEW.sellable_type = 'addon' THEN
        IF NEW.parent_sellable_id IS NOT NULL THEN
            RAISE EXCEPTION 'Addon cannot have parent_sellable_id';
        END IF;
    END IF;

    RETURN NEW;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.licenses_subscription_refresh_trigger()
 RETURNS trigger
 LANGUAGE plpgsql
AS $function$
BEGIN
    PERFORM public.licenses_refresh_subscription_status(NEW.organization_id);
    RETURN NEW;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.licenses_subscription_set_window()
 RETURNS trigger
 LANGUAGE plpgsql
AS $function$
DECLARE
    v_months INTEGER;
    v_requested_start TIMESTAMPTZ;
    v_prev_id BIGINT;
    v_prev_end TIMESTAMPTZ;
BEGIN
    SELECT id
    INTO v_prev_id
    FROM public.accounts_organization
    WHERE id = NEW.organization_id
    FOR UPDATE;

    IF v_prev_id IS NULL THEN
        RAISE EXCEPTION 'Organization % not found for subscription.', NEW.organization_id;
    END IF;

    SELECT months_count
    INTO v_months
    FROM public.licenses_billingcycle
    WHERE id = NEW.billing_cycle_id
      AND is_active = TRUE;

    IF v_months IS NULL THEN
        RAISE EXCEPTION 'Billing cycle % is invalid or inactive.', NEW.billing_cycle_id;
    END IF;

    v_requested_start := COALESCE(NEW.requested_start_at, NEW.purchased_at, NOW());

    SELECT s.id, s.ends_at
    INTO v_prev_id, v_prev_end
    FROM public.licenses_subscription s
    WHERE s.organization_id = NEW.organization_id
      AND s.status IN ('scheduled', 'active')
      AND (TG_OP = 'INSERT' OR s.id <> NEW.id)
    ORDER BY s.ends_at DESC
    LIMIT 1
    FOR UPDATE;

    IF v_prev_end IS NOT NULL AND v_prev_end >= v_requested_start THEN
        NEW.starts_at := v_prev_end + INTERVAL '1 second';
        NEW.queued_from_subscription_id := v_prev_id;
    ELSE
        NEW.starts_at := v_requested_start;
    END IF;

    NEW.ends_at := (NEW.starts_at + make_interval(months => v_months)) - INTERVAL '1 second';

    IF NEW.status <> 'cancelled' THEN
        NEW.status := CASE
            WHEN NOW() < NEW.starts_at THEN 'scheduled'
            WHEN NOW() BETWEEN NEW.starts_at AND NEW.ends_at THEN 'active'
            ELSE 'expired'
        END;
    END IF;

    RETURN NEW;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.licenses_validate_sellable_selection(p_selected_sellable_ids bigint[])
 RETURNS TABLE(is_valid boolean, message text, missing_required_sellable_id bigint)
 LANGUAGE plpgsql
AS $function$
DECLARE
    v_missing BIGINT;
BEGIN
    IF p_selected_sellable_ids IS NULL OR array_length(p_selected_sellable_ids, 1) IS NULL THEN
        RETURN QUERY SELECT TRUE, 'Selection is empty', NULL::BIGINT;
        RETURN;
    END IF;

    SELECT d.required_sellable_id
      INTO v_missing
      FROM public.licenses_sellable_dependency d
     WHERE d.sellable_id = ANY(p_selected_sellable_ids)
       AND NOT (d.required_sellable_id = ANY(p_selected_sellable_ids))
     LIMIT 1;

    IF v_missing IS NULL THEN
        RETURN QUERY SELECT TRUE, 'Selection is valid', NULL::BIGINT;
    ELSE
        RETURN QUERY SELECT FALSE, 'Missing prerequisite sellable', v_missing;
    END IF;
END;
$function$
;

