CREATE TRIGGER payments_operation_set_updated_at_bu BEFORE UPDATE ON payments_operation FOR EACH ROW EXECUTE FUNCTION set_row_updated_at();
CREATE TRIGGER payments_wallet_set_updated_at_bu BEFORE UPDATE ON payments_wallet FOR EACH ROW EXECUTE FUNCTION set_row_updated_at();
CREATE TRIGGER payments_wallet_entry_prevent_delete_bd BEFORE DELETE ON payments_wallet_entry FOR EACH ROW EXECUTE FUNCTION payments_wallet_entry_immutable();
CREATE TRIGGER payments_wallet_entry_prevent_update_bu BEFORE UPDATE ON payments_wallet_entry FOR EACH ROW EXECUTE FUNCTION payments_wallet_entry_immutable();
